<!--
 * * Title: contact.component.html
 * Author: Larry Ohaka
 * Date: 09/09/21
 * Description: signin
 */
-->

<div fxLayout="row" style="padding: 40px; color: rgb(77, 77, 77);" style="text-align: center;">
    <div fxFlex="50%" style="padding-top: 80px;">
      <mat-card-content style="font-size: 20px">
        <p><mat-icon class="contact-icons">location_pin</mat-icon></p>
        <p>1044 Gary St.</p>
        <p>Arlington, VA</p>
      </mat-card-content>
    </div>
    <div fxFlex="50%" style="padding-top: 80px;">
      <mat-card-content style="font-size: 20px">
        <p><mat-icon class="contact-icons">phone_enabled</mat-icon></p>
        <p>Phone: 240-777-7777</p>
      </mat-card-content>
    </div>
  
  </div>
<hr style="width: 90%;">