<!--
 * * Title: about.component.html
 * Author: Larry Ohaka
 * Date: 09/5/21
 * Description: about page
 */
-->

<main class="about" style="padding: 30px; align-items: center;" fxFlex="50%" >
    <h2 style="font-size: 3em; line-height: 40px; color: rgb(32, 105, 179);">What is NodeBucket?</h2>
  </main>



  <div fxLayout="row" style="padding: 30px; color: rgb(77, 77, 77);" >
    
     
        <div class="profile-pic">
       
    </div>
     
  
    <div fxFlex="70%" style="padding-top: 80px;">
        <img src="./assets/Tech Strat_graphic-04.png" style="width: 120px;">
      <mat-card-content style="font-size: 20px">
        <span>
            <p style="font-size: 16px">
         Initially developed for the sole purpose of helping organize an incredibly forgetful programmer Larry Ohaka, Nodebucket has evolved into a user-base platform for managing tasks for a fast paced lifestyle.  With Nodebucket users are able to input there tasks, reorder them in terms of importance, and delete them when no longer needed. Also they are capable of placing tasks into the 'Done' column, when the user has completed the task. 
         Using the signin feature users can use Nodebucket to save there tasks into our database so no data is loss for future use. Our main mission is to give our users an easy and reliable way of managing day-to-day tasks in a practical way
          </p></span>
      </mat-card-content>
    </div>
  </div>