/*
 * * Title: signin.component.html
 * Author: Larry Ohaka
 * Date: 08/22/21
 * Description: signin
*/


.signin-container {
    width: 48%;
    margin: 15% auto;
  }
   

  .signin-title{
    text-align: center;
    font-size: 38px;
    font-weight: lighter;
    line-height: 55px;
  }

  .signin-subtitle{
    text-align: center;
    font-weight: lighter;
  }

  
  